<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>706958075468-6p93hpn8b6pld2tfi1e4cpqal391c1co.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.706958075468-6p93hpn8b6pld2tfi1e4cpqal391c1co</string>
	<key>API_KEY</key>
	<string>AIzaSyDQYed5PG0WbDnbiv6GLsDY0v71RRDyWzs</string>
	<key>GCM_SENDER_ID</key>
	<string>706958075468</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mjnna.togo</string>
	<key>PROJECT_ID</key>
	<string>togo-a9dab</string>
	<key>STORAGE_BUCKET</key>
	<string>togo-a9dab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706958075468:ios:97e85131949dfcb706f6e9</string>
	<key>DATABASE_URL</key>
	<string>https://togo-a9dab.firebaseio.com</string>
</dict>
</plist>